.header{
  width: 100%;
  min-height: 60px;
  background-color: $sky-blue;
  color: $white;

  .menu{
    .dropdown {
      position: relative;
      display: inline-block;

      .dropbtn {
        display: inline-block;
        position: relative;
        color: white;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $sky-blue;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
          color: $white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: $yellow;
          }
        }
      }
      &:hover{
        .dropdown-content {
          display: block;
        }
        .dropbtn{
          background-color: $yellow;
        }
      }
    }
  }


}